.notes{
    display: flex;
    grid-template-columns: repeat(3, ifr);
    flex-direction: column;
    padding: 7px;
    width: 90%;
    gap:2%;
    background-color: rgb(210, 216, 123);
    color: rgb(5, 77, 77);
    font-family: Helvetica Neue;
    text-align: start;
    margin: 4%;
    align-items: center;
    justify-content: space-between;
    box-shadow: 2px  4px;
}

.notes:hover{
    box-shadow: 4px  7px;
}

.increased-size {
    position: fixed;
    bottom: 80px; /* Center vertically */
    left: 5%; /* Center horizontally */
    height: 60vh; /* Occupies 90% of the viewport height */
    width: 40vw;
    font-size: larger;
    z-index: 200;
    border-radius: 4%;
    backdrop-filter: blur(5px); /* Applies a blur effect */
    background: rgb(210, 216, 123, 0.7); /* Adds a semi-transparent background for the blur effect */
    box-shadow: none;
  }

  .increased-size:hover{
    box-shadow: 4px  7px;
  }